.pf-chatbot-container {
    .pf-chatbot__header {
        --pf-t--global--background--color--primary--default: transparent;

        border-bottom: 1px solid var(--pf-t--global--border--color--200);

        .pf-chatbot__header-main {
            align-items: center;
        }
    }
}

