.sources-drawer-content {
    --pf-v6-l-stack--m-gutter--Gap: 24px;

    .sources-drawer-content__header {
        color: var(--pf-t--global--text--color--subtle);

        .sources-drawer-content__header__icon {
            --pf-v6-c-icon__content--Color: var(--pf-t--global--text--color--subtle);
        }
    }

    .source-item {
        display: grid;
        grid-template-columns: auto 1fr;
        row-gap: calc(var(--pf-v6-l-grid--m-gutter--GridGap) / 2);
        column-gap: var(--pf-v6-l-grid--m-gutter--GridGap);

        .source-item__title {
            grid-column-start: 2;
        }
    }

    /* temporary placeholder for the source icon */
    .icon-stub {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        background-color: #F3F4F6;
        border-radius: 4px;
        background-image: repeating-linear-gradient(-45deg,
                transparent,
                transparent 2px,
                #a2a2a2 2px,
                #a2a2a2 4px);
    }
}