.global-layout-header {
  /* Header specific styles */
}

.global-layout-nav .pf-v6-c-compass__panel {
  /* Navigation specific styles */
  display: flex;
  column-gap: var(--pf-t--global--spacer--md, 1rem);

  --pf-v6-c-compass__panel--Padding: var(--pf-t--global--spacer--sm, 0.5rem);
}

.global-layout-nav .pf-v6-c-nav {
  --pf-v6-c-nav--FontWeight: var(--pf-t--global--font--weight--body--bold, 500);
}

.global-layout-nav .pf-v6-c-nav__link {
  /* TODO: Create css variables for custom colors   */
  --pf-v6-c-nav__link--Color: #6A7282;
  --pf-v6-c-nav__link--hover--Color: #27272A;
  --pf-v6-c-nav__link--m-current--Color: #000;
  --pf-v6-c-nav__link--hover--BackgroundColor: transparent;
  --pf-v6-c-nav__link--m-current--BackgroundColor: transparent;
}

.global-layout-chat-toolbar {
  /* Chat toolbar specific styles */
}

.global-layout-utility-toolbar {
  /* Utility toolbar specific styles */
}

.global-layout-footer {
  /* Footer specific styles */
}

.pf-v6-c-drawer__panel {
  & .drawer-heading {
    display: flex;
    align-items: center;
    gap: var(--pf-v5-global--spacer--md, 1rem);
  
    & .drawer-heading__icon {
      display: flex;
      align-items: center;
    }
  
    & .drawer-heading__text {
      flex: 1;
    }
  }
}
