{{- if .Values.olsConfig.enabled }}
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  annotations:
    # Helm hooks ensure OperatorGroup is created after namespace but before subscription
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-4"
    olm.providedAPIs: OLSConfig.v1alpha1.ols.openshift.io
  name: {{ .Values.olsSubscription.operatorGroupName | default .Values.olsSubscription.namespace }}
  namespace: {{ .Values.olsSubscription.namespace }}
spec:
{{- if .Values.olsSubscription.targetNamespaces }}
  targetNamespaces:
  {{- range .Values.olsSubscription.targetNamespaces }}
  - {{ . }}
  {{- end }}
  upgradeStrategy: Default
{{- end }}
{{- end }}
