/* Global variables */
:root {
  --pf-v6-l-grid--m-gutter--GridGap: var(--pf-t--global--spacer--md);
}

/* Prefixing your CSS classes with your plugin name is a best practice to avoid
 * collisions with other plugin styles. */
.genie-web-client__nice {
  /* Use PF global vars for colors to support dark mode in OpenShift 4.11.
   * https://patternfly-react-main.surge.sh/developer-resources/global-css-variables */
  color: var(--pf-global--palette--blue-400);
}

/* Setting border radius as pill for all buttons */
.global-layout-container .pf-v6-c-button{
  --pf-v6-c-button--BorderRadius: var(--pf-t--global--border--radius--pill, 999px);
}

/* Setting margin for empty state body xl variant */
.global-layout-container .pf-v6-c-empty-state.pf-m-xl .pf-v6-c-empty-state__body {
  margin-top: var(--pf-t--global--spacer--md, 1rem);
}