.canvas-layout {
  overflow-y: auto;
}

.canvas-layout__toolbar {
  position: sticky;
  top: 0;
}

.canvas-layout__footer {
  border-top: 1px solid var(--pf-t--global--border--color--default, #d2d2d2);
  position: sticky;
  bottom: 0;
}
