.canvas-layout {
  overflow-y: auto;
  background-color: #F3F4F6; // need CSS var
  border-radius: 32px; // need CSS var 
}

.canvas-layout__toolbar {
  background-color: inherit;
  position: sticky;
  top: 0;
}

.canvas-layout__footer {
  border-top: 1px solid var(--pf-t--global--border--color--default, #d2d2d2);
  background-color: inherit;
  position: sticky;
  bottom: 0;
}
