.pf-v6-c-modal-box{
  --pf-v6-c-modal-box__title--FontSize: var(--pf-t--global--font--size--md, 1rem);
}
  
.pf-v6-c-modal-box__body {
  --pf-v6-c-modal-box__body--PaddingBlockStart: var(--pf-t--global--spacer--4xl, 5rem) !important;
}
  
.legal-modal {
  --pf-v6-c-modal-box--MaxHeight: 576px;
}
  
.legal-modal__body {
  max-height: 576px;
  overflow: auto;
}
  
.legal-modal__title {
  font-size: var(--pf-t--global--font--size--xl, 1.5rem) !important;
  text-align: center;
  font-weight: var(--pf-t--global--font--weight--heading--default, 500);
}
  
.legal-modal__subtitle {
  text-align: center;
  color: var(--pf-t--color--gray--70);
  font-weight: var(--pf-t--global--font--weight--body--regular, 400);
  margin-bottom: var(--pf-t--global--spacer--lg, 1.5rem);
}